/*
 All integrations are namespaced with the class `<integration_id>-integration`.  When creating custom
 CSS to style your integration you should ensure that all your classes are appropriately namespaced to prevent
 your css from affecting other integrations.  Note that the integration id is based off the name of the integration
 directory.
*/
.dt-integration {
}

div.registrant{
  span{
    font-weight: bold;
    font-size: 1.3em;
  }
  text-align: left;
  padding-left: 3px;
  padding-bottom: 5px;
}

div.registrants {
  span{
    text-align: left;
    font-size: 1.1em;
  }
  padding-left: 3px;
}

div.numDomains {
  span{
    text-align: left;
    font-size: 1.1em;
  }
  padding-left: 3px;
}

div.regExpires {
  span{
    text-align: left;
    font-size: 1.1em;
  }
  padding-left: 3px;
}

div.regcreated {
  span{
    text-align: left;
    font-size: 1.1em;
  }
  padding-left: 3px;
}

div.regupdated {
  span{
    text-align: left;
    font-size: 1.1em;
  }
  padding-left: 3px;
}

div.registrar {
  span{
    text-align: left;
    font-size: 1.1em;
  }
  padding-left: 3px;
}

div.statuses {

  p{
    text-align: left;
    font-size: 1.1em;
    padding-left: 3px;
    padding-bottom: 5px;
  }

  ul{
    font-size: 1em;
  }
}

div.reverseipsection{
  font-size: .9em;
  font-weight: bold;
  padding-left: 3px;
  padding-bottom: 5px;
}


div.website{
  span{
    font-weight: bold;
    font-size: 1.3em;
  }
  text-align: left;
  padding-left: 3px;
  padding-bottom: 5px;
}

div.title {
  span{
    text-align: left;
    font-size: 1.1em;
  }
  padding-left: 3px;
}

div.seo {
  span{
    text-align: left;
    font-size: 1.1em;
  }
  padding-left: 3px;
}

div.server {
  span{
    text-align: left;
    font-size: 1.1em;
  }
  padding-left: 3px;
}

div.response {
  span{
    text-align: left;
    font-size: 1.1em;
  }
  padding-left: 3px;
}

div.websiteWhoIssection{
  font-size: .9em;
  font-weight: bold;
  padding-left: 3px;
  padding-bottom: 5px;
}


div.nameserverss {

  p{
    font-weight: bold;
    text-align: left;
    font-size: 1.3em;
    padding-left: 3px;
    padding-bottom: 5px;
  }

  ul{
    font-size: 1em;
  }
}


div.whois{
  span{
    font-weight: bold;
    font-size: 1.3em;
  }
  text-align: left;
  padding-bottom: 5px;
  padding-left: 3px;
}


div.earliest {
  span{
    text-align: left;
    font-size: 1.1em;
  }
  padding-left: 3px;
}

div.records {
  span{
    text-align: left;
    font-size: 1.1em;
  }
  padding-left: 3px;
}

div.reversewhoissection{
  font-size: .9em;
  font-weight: bold;
  padding-left: 3px;
  padding-bottom: 5px;
}

div.history{
  span{
    font-weight: bold;
    font-size: 1.3em;
  }
  text-align: left;
  padding-bottom: 5px;
  padding-left: 3px;
}


div.earliestEvent {
  span{
    text-align: left;
    font-size: 1.1em;
  }
  padding-left: 3px;
}

div.historicalevents {
  span{
    text-align: left;
    font-size: 1.1em;
  }
  padding-left: 3px;
}

div.nameEvents {
  span{
    text-align: left;
    font-size: 1.1em;
  }
  padding-left: 3px;
}

div.nameSpan {
  span{
    text-align: left;
    font-size: 1.1em;
  }
  padding-left: 3px;
}

div.ipevents {
  span{
    text-align: left;
    font-size: 1.1em;
    padding-left: 3px;
  }
}

div.ipspan {
  span{
    text-align: left;
    font-size: 1.1em;
    padding-left: 3px;
  }
}

div.historyurlsection{
  font-size: .9em;
  font-weight: bold;
  padding-left: 3px;
  padding-bottom: 5px;
  background-color: inherit;
}
